# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Zextras Login Page
# This package contains the assets for the browser login page

pkgname="carbonio-login-ui"
pkgver="{{version}}"
pkgrel="{{pkgRel}}"
pkgdesc="Zextras login page assets"
maintainer="Zextras <packages@zextras.com>"
arch=('x86_64')
license=("AGPL-3.0-only")
section="admin"
priority="optional"
url="https://www.zextras.com/"
depends=(
  "carbonio-nginx"
  "carbonio-webui-i18n"
)

package() {
  cd "${srcdir}"
  mkdir -p "${pkgdir}/opt/zextras/web/login/"
  cp -a ../../dist/* "${pkgdir}/opt/zextras/web/login"
  ln -s /opt/zextras/web/login-i18n \
    "${pkgdir}/opt/zextras/web/login/i18n"
}

preinst() {
  if [ -d /opt/zextras/web/login/i18n ]; then
    rm -rf /opt/zextras/web/login/i18n
  fi
}

postinst() {
  chown root:root -R /opt/zextras/web/login
  chmod 755 -R /opt/zextras/web/login
  chmod 644 /opt/zextras/web/login/assets/*
}
